.elementor-383 .elementor-element.elementor-element-13b3fc1{margin-top:30px;margin-bottom:60px;padding:0px 35px 0px 35px;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-media img{border-radius:30px 30px 30px 30px !important;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title a{color:var( --e-global-color-text );font-size:42px;font-weight:400;line-height:1.4em;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title{margin-bottom:22px;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-info a, .elementor-383 .elementor-element.elementor-element-0aec87f .entry-info{color:#FFFFFF94;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-info, .elementor-383 .elementor-element.elementor-element-0aec87f .entry-info a{font-size:14px;font-weight:400;}.elementor-383 .elementor-element.elementor-element-0aec87f{text-align:left;animation-duration:1800ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-383 .elementor-element.elementor-element-f759a21 .aux-widget-container{text-align:center;}.elementor-383 .elementor-element.elementor-element-f759a21{width:auto;max-width:auto;position:absolute;bottom:162px;left:-121px;}.elementor-383 .elementor-element.elementor-element-c98d0b2{padding:0px 35px 100px 35px;}.elementor-383 .elementor-element.elementor-element-8b9d080.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-media img{border-radius:20px 0px 0px 20px !important;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-title a{color:var( --e-global-color-text );}.elementor-383 .elementor-element.elementor-element-a05896e .entry-title a:hover{color:var( --e-global-color-613c8b7 );}.elementor-383 .elementor-element.elementor-element-a05896e .entry-title{font-size:30px;font-weight:400;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-info a, .elementor-383 .elementor-element.elementor-element-a05896e .entry-info{color:#FFFFFFB0;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-info, .elementor-383 .elementor-element.elementor-element-a05896e .entry-info a{font-size:14px;font-weight:400;text-transform:capitalize;line-height:1.3em;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-content{color:var( --e-global-color-accent );font-size:16px;font-weight:400;line-height:1.5em;}.elementor-383 .elementor-element.elementor-element-a05896e{animation-duration:1800ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-383 .elementor-element.elementor-element-dbc9df3 > .elementor-element-populated{margin:0px 0px 0px 30px;--e-column-margin-right:0px;--e-column-margin-left:30px;}.elementor-383 .elementor-element.elementor-element-5772e8a .aux-widget-image{text-align:right;}.elementor-383 .elementor-element.elementor-element-5772e8a .aux-media-image{border-radius:20px 20px 20px 20px;overflow:hidden;}.elementor-383 .elementor-element.elementor-element-5772e8a > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-383 .elementor-element.elementor-element-5772e8a{animation-duration:1800ms;animation-delay:750ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-383 .elementor-element.elementor-element-23d7e6a .elementor-heading-title{color:var( --e-global-color-text );font-size:40px;font-weight:bold;line-height:1.3em;}.elementor-383 .elementor-element.elementor-element-23d7e6a > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-383 .elementor-element.elementor-element-23d7e6a{animation-duration:1800ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-media img{border-radius:20px 20px 0px 0px !important;}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-title a{color:var( --e-global-color-text );font-size:25px;font-weight:400;line-height:1.3em;}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-title{margin-bottom:18px;}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-info a, .elementor-383 .elementor-element.elementor-element-e5240fe .entry-info{color:#FFFFFFA8;}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-info, .elementor-383 .elementor-element.elementor-element-e5240fe .entry-info a{font-size:14px;font-weight:400;}.elementor-383 .elementor-element.elementor-element-e5240fe .type-post .entry-main{padding:4px 45px 25px 025px;}.elementor-383 .elementor-element.elementor-element-e5240fe{text-align:left;animation-duration:1800ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title a{font-size:29px;line-height:1.3em;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title{margin-bottom:11px;}.elementor-383 .elementor-element.elementor-element-0aec87f .entry-info, .elementor-383 .elementor-element.elementor-element-0aec87f .entry-info a{font-size:13px;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-title{font-size:23px;line-height:1.3em;margin-bottom:8px;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-info, .elementor-383 .elementor-element.elementor-element-a05896e .entry-info a{font-size:12px;}.elementor-383 .elementor-element.elementor-element-a05896e .entry-content{font-size:14px;margin-bottom:0px;}.elementor-383 .elementor-element.elementor-element-23d7e6a .elementor-heading-title{font-size:28px;}.elementor-383 .elementor-element.elementor-element-e5240fe .entry-title a{font-size:20px;}.elementor-383 .elementor-element.elementor-element-e5240fe .type-post .entry-main{padding:4px 20px 25px 20px;}}@media(max-width:767px){.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title a{font-size:25px;}.elementor-383 .elementor-element.elementor-element-dbc9df3 > .elementor-element-populated{margin:70px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}}@media(min-width:768px){.elementor-383 .elementor-element.elementor-element-8b9d080{width:69.807%;}.elementor-383 .elementor-element.elementor-element-dbc9df3{width:30.193%;}}@media(max-width:1024px) and (min-width:768px){.elementor-383 .elementor-element.elementor-element-8b9d080{width:67%;}.elementor-383 .elementor-element.elementor-element-dbc9df3{width:33%;}}/* Start custom CSS for aux_recent_posts, class: .elementor-element-0aec87f */.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main{
    background: rgb(6,150,151);
    background: linear-gradient( 
136deg
 , var( --e-global-color-3acdf5c ) 0%, var( --e-global-color-1c115ac ) 43%, var( --e-global-color-fa0c962 ) 97%);
border-radius: 20px;
    margin-top: 11%;
    margin-right: -138px;
    width: 53%;
    padding: 46px;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-tax a{
    font-weight: bold!important;
    color: #000!important;
    margin-top: 5px;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-tax::before{
    display: none!important;
}

.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title{
    max-width: 450px;
    overflow: visible;
    max-height: 100%;
    display: block;
}
@media only screen and (min-width: 767px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .column-entry{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
@media only screen and (max-width:1368px)and (min-width:767px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main {
    width: 100%;
    flex-basis: 93%;
}
}
@media only screen and (max-width:1025px)and (min-width:767px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main {
    width: 50%;
    flex-basis: 44%;
    padding: 32px;
    margin-top: 20%;
    transform: translateY(9%);
}
.elementor-383 .elementor-element.elementor-element-0aec87f .post .entry-media{
    flex-basis: 80%;
}
}
@media only screen and (max-width: 767px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main{
    margin: auto;
    width: 83%;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title {
    max-width: 449px;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main{
    padding: 30px;
}
}
.elementor-383 .elementor-element.elementor-element-0aec87f .aux-col:hover .aux-attachment{
    transform: none;
}
@media only screen and (max-width: 1250px) and (min-width: 1025px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-main{
    top: -75px!important;
}
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-title a{
    font-size: 33px;
}
}
@media only screen and  (min-width: 1025px) {
.elementor-383 .elementor-element.elementor-element-0aec87f .entry-header{
    height: 184px;
    overflow: hidden;
}
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts_land_style, class: .elementor-element-a05896e */.elementor-383 .elementor-element.elementor-element-a05896e .entry-meta-sep::before{
    display: none!important;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-meta-sep, .elementor-383 .elementor-element.elementor-element-a05896e .author a{
   color: var( --e-global-color-secondary )!important;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-column-post-entry{
   background-color: var( --e-global-color-bc50b7c );
   margin-bottom: 30px;
   border-radius:20px 20px 20px 20px;
   padding: 0 32px 0 0;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-media{
   margin-bottom: 0!important;
   margin-right: 36px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main{
    padding-top: 5%;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main{
    display: flex;
    flex-direction: column;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-info{
    order: 1;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-header{
    order: 2;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-content{
    order: 3;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main{
    position: relative;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-date{
    position: absolute;
    bottom: -31px;
    left: 0;
}
@media only screen and (min-width: 1025px) {
.elementor-383 .elementor-element.elementor-element-a05896e .aux-blog-land-style .hentry .entry-media {
    width: 42%!important;
}
}
@media only screen and (max-width:1025px)and (min-width:769px) {
.elementor-383 .elementor-element.elementor-element-a05896e .entry-content p{
    height: 61px;
    overflow: hidden;
    margin-bottom: 0;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-blog-land-style .hentry .entry-media{
    width: 46%!important;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main {
    width: calc(50% - 25px);
}
}
@media only screen and (max-width: 769px) {
.elementor-383 .elementor-element.elementor-element-a05896e .aux-column-post-entry{
  padding: 0 0 0 0;
      border-radius: 0 0px 20px 20px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main{
    padding: 43px;
    margin-bottom: 30px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-date{
    left: 44px;
    bottom: 4px;
}
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-column-post-entry:hover .entry-title a{
    color: var( --e-global-color-613c8b7 );
    text-decoration: underline;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-info a:before{
content: "Posted On:";
}
@media only screen and (max-width: 1400px)and (min-width: 1025px)  {
.elementor-383 .elementor-element.elementor-element-a05896e .entry-title{
    height: 77px;
    overflow: hidden;
    line-height: 1.2em;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-content{
    height: 52px;
    overflow: hidden;
}
}
@media only screen and (max-width: 1025px) and (min-width: 769px) {
.elementor-383 .elementor-element.elementor-element-a05896e .aux-media-image a img{
    height: auto;
    width: 350px;
    min-width: 350px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-date{
    bottom: -50px;
}
}
@media only screen and (max-width:769px) {
.elementor-383 .elementor-element.elementor-element-a05896e .entry-main, .elementor-383 .elementor-element.elementor-element-a05896e .entry-media{
width: 100%;
}
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-label-text, .elementor-383 .elementor-element.elementor-element-a05896e .aux-load-more{
    background-color: transparent;
    width: 216px;
    height: 50px;
    min-width: 178px;
    border-radius: 15px;
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-label-text{
    border-style: solid;
    border-width: 3px;
    border-color: var(--e-global-color-d21b449);
    border-radius: 35px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-load-more{
    margin-top: 79px;
}
@media only screen and (max-width:1025px) and (min-width:767px) {
.elementor-383 .elementor-element.elementor-element-a05896e .aux-label-text{
    font-size: 14px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-read-more:before{
    left: 24px;
}
.elementor-383 .elementor-element.elementor-element-a05896e .entry-title{
    line-height: 27px;
}
}
@media only screen and (max-width:767px){
.elementor-383 .elementor-element.elementor-element-a05896e .aux-read-more:before{
    left: 22px;
}
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-circle, .elementor-383 .elementor-element.elementor-element-a05896e .aux-loading-label{
    display: none;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-load-more .aux-label-text{
    opacity: 1!important;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-label-text{
transition: all .15s ease-out;
}
.elementor-383 .elementor-element.elementor-element-a05896e .aux-label-text:hover{
    background-color: var(--e-global-color-d21b449);
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-5772e8a */.elementor-383 .elementor-element.elementor-element-5772e8a .aux-widget-image .aux-media-image img, .elementor-383 .elementor-element.elementor-element-5772e8a  .aux-widget-image .aux-media-hint-frame{
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-e5240fe */.elementor-383 .elementor-element.elementor-element-e5240fe .column-entry{
    background-color: var( --e-global-color-bc50b7c );
    border-radius: 20px;
}
.elementor-383 .elementor-element.elementor-element-e5240fe .aux-col{
    margin-top: 15px!important;
}
.elementor-383 .elementor-element.elementor-element-e5240fe .column-entry:hover .entry-title a{
    color: var( --e-global-color-613c8b7 );
    text-decoration: underline;
}/* End custom CSS */
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */